#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
     
  
}

*{
	font-family: arial black;
	background: #CCCC99;
	color: #333333;
}
body{
	font-family: arial black;
	background: #CCCC99;
	color: #333333;
}